/*
 * Author: Aristidis Loumis
 * URL: twitter handle
 *
 * Project Name: RDII
 * Version: 1.0
 * URL: http://blacktie.co
 */
 
.font-thin {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
}

.font-semibold {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
}

.font-light {
	font-family: "Titillium Web", sans-serif;
	font-weight: 300;
}

* {
	position: relative;
}

.breaker {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #2f2f2f;
	font-family: "Titillium Web", sans-serif;
	font-weight: normal;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased !important;
}

.justify-text {
	text-align: justify;
}

.navbar {
	background-color: #ffffff;
	opacity:0.77777775;
	border-bottom: 0 none;
	font-size: 12px;
	transition: .25s all linear;
	color: #3a3938;
}

.navbar.inv {
	background-color: rgba( 0, 0, 0, .5 );
	border-bottom: 1px solid #bfbfbf;
}

.navbar .nav a {
	color: #3a3938;
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
	transition: all .5 linear;
}

.navbar.inv a {
	color: #ffffff;
}


.navbar-responsive-collapse {
	margin: 0 auto;
	width: 80%;
}

.nav li {
	text-align: center;
	white-space: nowrap;
	color: #3a3938;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: inherit;
	outline: none;
}

.navbar-brand {
	padding: 8px;
}

.active-menu {
	background-color: #4e4e4e;
	content: '.';
	display: block;
	height: 5px;
	left: 0;
	position: absolute;
	top: 0;
	transition: all .5 linear;
	width: 1%;
	z-index: 9;
}

.inv .active-menu {
	background-color: #e4e6e5;
}

.special-active-menu {
	z-index: 10;
}

#special-active-menu-1,
#special-active-menu-6 {
	background-color: #4e4e4e !important;
}

#special-active-menu-2 {
	background-color: #d88322 !important;
}

#special-active-menu-3 {
	background-color: #4e4e4e !important;
}

#special-active-menu-4 {
	background-color: #d88322 !important;
}

#special-active-menu-5 {
	background-color: #4e4e4e !important;
}

/*-----------------------------------------------------------------------------------*/
/* Social Icons */
/*-----------------------------------------------------------------------------------*/
ul.social-icons {
  list-style: none;
  margin: 17px 10px 0 0;
  position: fixed;
  width: 40px;
  right: 36px;
  bottom: 40px;
}
ul.social-icons.circle li {
  background-image: none;
  background-color: transparent;
}
ul.social-icons.circle li a {
  background-color: rgba(0, 0, 0, 0.1);
  background-position: 0px -40px !important;
  border-radius: 50% !important;
}
ul.social-icons.circle li a:hover {
  background-position: 0px -40px !important;
}
ul.social-icons.rounded a {
  border-radius: 5px !important;
}
ul.social-icons.color .social-facebook a {
  background-color: #3b5998;
}
ul.social-icons.color .social-twitter a {
  background-color: #48c4d2;
}
ul.social-icons.color .social-googleplus a {
  background-color: #d94a39;
}
ul.social-icons.color .social-youtube a {
  background-color: #f45750;
}
ul.social-icons.color .social-github a {
  background-color: #333333;
}
ul.social-icons.color .social-pinterest a {
  background-color: #cb2027;
}
ul.social-icons.color .social-blogger a {
  background-color: #fb913f;
}
ul.social-icons.color .social-dribbble a {
  background-color: #ef5b92;
}
ul.social-icons.color .social-flickr a {
  background-color: #fd55ad;
}
ul.social-icons.color .social-skype a {
  background-color: #18b7f1;
}
ul.social-icons.color .social-digg a {
  background-color: #2882c6;
}
ul.social-icons.color .social-linkedin a {
  background-color: #71b2d0;
}
ul.social-icons.color .social-vimeo a {
  background-color: #62a0ad;
}
ul.social-icons.color .social-yahoo a {
  background-color: #ab64bc;
}
ul.social-icons.color .social-tumblr a {
  background-color: #3a5976;
}
ul.social-icons.color .social-deviantart a {
  background-color: #d0de21;
}
ul.social-icons.color .social-delicious a {
  background-color: #3274d1;
}
ul.social-icons.color .social-rss a {
  background-color: #fe9900;
}
ul.social-icons.border li a {
  background-position: 0px 0px !important;
  border: 2px solid #8faca6;
  background-color: rgba(0, 0, 0, 0.15) !important;
}
ul.social-icons.border li a:hover {
  background-position: 0px -40px !important;
  background-color: #999 !important;
}
ul.social-icons li {
  background-color: rgba(0, 0, 0, 0.06);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  /* gradient overlay */
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  /* gradient overlay */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  /* gradient overlay */
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  /* gradient overlay */
  background-position: 50% 50%;
  display: block;
  float: left;
  margin: 5px;
  padding: 0 0 0px 0;
}
ul.social-icons li a {
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  background-position: 0px -55px;
  background-repeat: no-repeat;
  padding-bottom: 1px;
  opacity: 1;
}
ul.social-icons li a:hover {
  background-position: 0px -40px !important;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  transition-property: background-color;
}
.social-facebook a {
  background: url(img/social_icons/facebook.png);
}
.social-facebook a:hover {
  background-color: #3b5998 !important;
}
.social-twitter a {
  background: url(../img/social_icons/twitter.png);
}
.social-twitter a:hover {
  background-color: #48c4d2 !important;
}
.social-googleplus a {
  background: url(../img/social_icons/googleplus.png);
}
.social-googleplus a:hover {
  background-color: #d94a39 !important;
}
.social-youtube a {
  background: url(../img/social_icons/youtube.png);
}
.social-youtube a:hover {
  background-color: #f45750 !important;
}
.social-github a {
  background: url(../img/social_icons/github.png);
}
.social-github a:hover {
  background-color: #333333 !important;
}
.social-pinterest a {
  background: url(../img/social_icons/pinterest.png);
}
.social-pinterest a:hover {
  background-color: #cb2027 !important;
}
.social-blogger a {
  background: url(../img/social_icons/blogger.png);
}
.social-blogger a:hover {
  background-color: #fb913f !important;
}
.social-dribbble a {
  background: url(../img/social_icons/dribbble.png);
}
.social-dribbble a:hover {
  background-color: #ef5b92 !important;
}
.social-flickr a {
  background: url(../img/social_icons/flickr.png);
}
.social-flickr a:hover {
  background-color: #FD55AD !important;
}
.social-skype a {
  background: url(../img/social_icons/skype.png);
}
.social-skype a:hover {
  background-color: #18b7f1 !important;
}
.social-digg a {
  background: url(../img/social_icons/digg.png);
}
.social-digg a:hover {
  background-color: #2882c6 !important;
}
.social-linkedin a {
  background: url(../img/social_icons/linkedin.png);
}
.social-linkedin a:hover {
  background-color: #71b2d0 !important;
}
.social-vimeo a {
  background: url(../img/social_icons/vimeo.png);
}
.social-vimeo a:hover {
  background-color: #62a0ad !important;
}
.social-yahoo a {
  background: url(../img/social_icons/yahoo.png);
}
.social-yahoo a:hover {
  background-color: #ab64bc !important;
}
.social-tumblr a {
  background: url(../img/social_icons/tumblr.png);
}
.social-tumblr a:hover {
  background-color: #3a5976 !important;
}
.social-deviantart a {
  background: url(../img/social_icons/deviantart.png);
}
.social-deviantart a:hover {
  background-color: #d0de21 !important;
}
.social-delicious a {
  background: url(../img/social_icons/delicious.png);
}
.social-delicious a:hover {
  background-color: #3274d1 !important;
}
.social-rss a {
  background: url(../img/social_icons/rss.png);
}
.social-rss a:hover {
  background-color: #fe9900 !important;
}
[class^="social-"] a,
[class*=" social-"] a {
  background-position: 0px -40px !important;
  background-repeat: no-repeat;
}

@media (min-width: 768px) and (max-width: 991px) {
	#slide-4 .content-row h2 {
	}
}

@media (max-width: 767px) {
	
	.nav li {
		text-align: left;
		white-space: nowrap;
	}
	
	.navbar-responsive-collapse  {
		width: 100%;
	}
	
	.active-menu {
		display: none !important;
	}
	
	.navbar-toggle {
		margin-right: 10px;
	}
	
	.navbar {
		background-image: url('../images/bigdata_bg.jpeg')
		padding: 0;
	}
	
	.navbar .nav a {
		color: #ffffff;
		font-size: 16px;
		padding-left: 0;
	}
	
	.icon {
		margin-right: 12px;
	}
			
	.nav li[data-slide="1"],
	.nav li[data-slide="6"] {
		background-color: #2f2f2f;
	}
	
	.nav li[data-slide="2"] {
		background-color: #1abc9c;
	}
	
	.nav li[data-slide="3"] {
		background-color: #e74c3c;
	}
	
	.nav li[data-slide="4"] {
		background-color: #34495e;
	}
	
	.nav li[data-slide="5"] {
		background-color: #e67e22;
	}
	
	.navbar-brand {
		background-image: url('../images/rdii_logo.jpg');
		margin: 0;
		text-align: left;
	}
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.slide {
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 65px;
	padding-top: 50px;
	text-align: center;
}

#slide-1 {
	background-image: url('../images/bigdata_bg.jpeg');
	color: #ffffff;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
	background-attachment: relative;
	background-position: center center;
}

#slide-1 h1 {
	padding-top: 130px;
}

@media (max-width: 991px) {
	#slide-1 {
		background-image: url('../images/bigdata_bg.jpeg');
	}
}

@media (min-width: 767px) {
	#slide-1 {
		background-image: url('../images/bigdata_bg.jpeg');
	}
}

	#home-row-1,
	#home-row-2 {
		padding-top: 25px;
	}
	
	#home-row-1 h1 {
		font-size: 54px;
	}
	
	#home-row-1 h4 {
		font-size: 32px;
	}
	
	#home-row-2 {
		font-size: 25px;
	}
	
	#home-row-2 .col-12 {
		height: 232px;
		padding-top: 30px;
	}
	
	#home-row-2 .col-12 .home-hover {
		height: 166px;
		overflow: hidden;
		padding-top: 26px;
		transition: all ease-in .5s;
	}
	
	#home-row-2 .col-12 .home-hover:hover {
		height: 166px;
		padding-top: 0;
	}

@media (max-width: 767px) {
	#home-row-1,
	#home-row-2 {
		padding-top: 16px;
	}
	
	#home-row-1 h1 {
		font-size: 35px;
	}
	
	#home-row-1 h4 {
		font-size: 21px;
	}
	
	#home-row-2 {
		font-size: 16px;
	}
}

#slide-2 {
	background-color: #002D91;
	color: #d88322;
	padding-top: 90px;
	text-align: left;
}

	.title-row {
		font-size: 45px;
		padding-bottom: 50px;
		align-content: center;
	}
	
	.line-row .hr {
		background-color: #e4e6e5;
		height: 5px;
		margin: 0 auto;
		width: 33%;
	}
	
	.subtitle-row {
		font-size: 35px;
		padding-bottom: 40px;
		padding-top: 40px;
	}
	
	.content-row {
		padding-top: 45px;
	}
	
	.content-row i,
	#about-row-5 i {
		display: block;
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}
	
	.content-row h2 {
		font-size: 28px;
		padding-bottom: 10px;
	}
	
	.content-row h4 {
		font-family: "Titillium Web", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 20px;
		font-weight: 300;
	}
	
	i {
		font-size: 80px;
		color: white;
	}
	

@media (max-width: 767px) {
	.title-row {
		font-size: 34px;
		padding-bottom: 33px;
	}
	
	.subtitle-row {
		font-size: 26px;
		padding-bottom: 26px;
		padding-top: 26px;
	}
	
	.content-row {
		padding-top: 29px;
	}
	
	.content-row h2 {
		font-size: 24px;
		padding-bottom: 5px;
	}
	
	.content-row h4 {
		font-size: 20px;
	}
}

#slide-3 {
	background-color: #000;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	text-align: center;
	width: 100%;
}
	
	#slide-3 .col-12 {
		height: 451px;
		margin: 0;
		padding: 0;
		width: 452px;
	}

	#slide-3 a,
	#slide-3 img {
		height: 100%;
		margin: 0 auto;
		width: 100%;
}
.img-circle {
    border-radius: 20px;

}

.img-responsive {

}
	
@media (max-width: 991px) {
	#slide-3 {
		text-align: center;
		width: 100%;
	}
	
	#slide-3 .row {
		left: 0 !important;
		margin: 0;
		width: 100% !important;
	}
	
	#slide-3 .col-12 {
		height: auto;
		width: 50%
	}

	#slide-3 a,
	#slide-3 img {
		height: auto;
		max-height: 100%;
		max-width: 100%;
		width: auto;
	}
}
	
@media (max-width: 767px) {
	#slide-3 .col-12 {
		width: 100%;
	}
}

#slide-4 {
	background-color: #ffffff;
	color: #3737ad;
	padding-top: 90px;
	.portfolio-item {
    	right: 0;
    	margin: 0 0 15px;
}

.portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

 .portfolio-item .portfolio-link .portfolio-hover {
    position: ablute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: rgba(254,209,54,.9); /* Fallback when no plugin support */
    background: rgba({{ site.color.primary | hex_to_rgb | join: ',' }}, .9);
}

 .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
 .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

 .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}
.portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

 .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}
 * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}
}

#slide-4 i {
		font-size: 80px;
		color: white;
		text-align: center;
	}


#slide-5 {
	background-color: #4e4e4e;
	color: #e4e6e5;
	text-align: left;
	padding-top: 90px;
	
}
.center {
    margin: auto;
    border: 3px;
    padding: 10px;
    text-align: center;
}

#slide-6 {
	background-color: #2f2f2f;
	color: #e4e6e5;
	padding-bottom: 350px;
	padding-top: 90px;
	text-align: left;
}

@media (max-width: 767px) {
	#slide-6 {
		background-image: none;
	}
}
	
	#slide-6 .line-row .hr {
		background-color: #4e4e4e;
		color: #4e4e4e;
	}

	#slide-6 a {
		color: inherit;
		outline: none;
		text-decoration: none;
	}

@media (max-width: 767px) {
	.with-hover-text{
		margin-bottom: 0px;
		margin-top: 0px;
	}
}
	
	#contact-row-4 {
		padding-top: 125px;
	}
	
	#contact-row-4 .col-12 {
		height: 175px;
		overflow: hidden;
		padding-top: 20px;
		transition: all ease-in .5s;
	}
	
	#contact-row-4 img {
		margin: 0 auto;
		max-height: 100%;
		max-width: 100%;
	}
	
	#contact-row-4 .col-12:hover {
		height: 175px;
		padding-top: 0;
	}
	
	#contact-row-4 .col-12 .hover-text {
		display: none;
		font-size: 20px;
	}

#slide-7 {
	background-color: #e4e6e5;
	color: #4e4e4e;
	font-size: 35px;
	line-height: 50px;
	text-align: center;
}

#lightbox-out {
	background-color: rgba( 0, 0, 0, 0.7 );
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 99999;
}

.with-hover-text span {
	display: none;
}

.zoom {
	background-image: url('../images/zoom.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

#arrows {
	bottom: 10%;
	height: 80px;
	position: fixed;
	right: 10%;
	width: 80px;
	z-index: 1000;
}

#arrows div {
	background-image: url('../images/website-arrows.png');
	cursor: pointer;
	height: 30px;
	position: absolute;
	width: 30px;
}

#arrows div.disabled {
	cursor: default;
}

#arrow-up {
	background-position: 30px 0;
	left: 25px;
	top: 0;
}

#arrow-up.disabled {
	background-position: 0 0;
}

#arrow-down {
	background-position: 30px -30px;
	left: 25px;
	bottom: 0;
}

#arrow-down.disabled {
	background-position: 0 -30px;
}

#arrow-left {
	background-position: 30px -60px;
	left: 0;
	top: 25px;
}

#arrow-left.disabled {
	background-position: 0 -60px;
}

#arrow-right {
	background-position: 30px -90px;
	right: 0;
	top: 25px;
}

#arrow-right.disabled {
	background-position: 0 -90px;
}

.navigation-slide {
	cursor: pointer;
}

